{% extends "base.html" %}




{% load i18n %}
{% load account socialaccount %}

{% block title %}Sign In {% endblock %}

{% block content %}
  <div class="container mt-5 col-lg-4 offset-lg-4 p-4 review-display topmarlg " style="font-family: 'Koulen', cursive !important;">
      <div class="row justify-content-center">
          <div class="col-md8 offset-2">
            
            <h1>{% trans "Sign In" %}</h1>

            <form class="login liform" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <a class="button secondaryAction text-white" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              <button class="primaryAction buttonsty" type="submit">{% trans "Sign In" %}</button>
            </form>
      </div>
    </div>
  </div>
{% endblock %}