{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-5  col-md-6 offset-md-3 col-lg-4 offset-lg-4 p-4 review-display topmarlg" >
  <div class="row justify-content-center regform-fontsize">
      <div class="col-md8 offset-2">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please  <a class="text-white" href="{{ login_url }}">  sign in</a>.{% endblocktrans %}</p>

        <form class="signup liform" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button  class="buttonsty" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
  </div>
</div>

{% endblock %}