{% extends "base.html" %}
{% block title%}-Info{% endblock title %}
{% block content%}
<div>
    <div class="container ">
        <h1  class="hotel-title dark container text-center col-sm-12  offset-md-3 col-md-6  offset-lg-0 col-lg-4" >The Flower Hotel</h1>
    </div>
    <article class="container ">
        <h3 class="paratext darker" aria-label="description of the hotel">
            <p>Located in the middle of nowhere, our hotel is perfect for a peaceful stay. The hotel has a private beech and also several ash.
            Our 5 restaurants are all excellant and range in style from casual to 5 star quality fare. Guests can avail of our world famous 
            gardens from which the hotel gets it's name. These gardens were laid out in 1823 by the seventh Vicount of Estabool, and still attract
            horticulturalists from around the world especially in Autumn when the tulips are in full bloom.
            </p>
        </h3>
    </article>
    <!--blog.duda.com-->
    <div class=" container map-responsive " aria-hidden="true">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102278.05808585312!2d12.009010603609342!3d36.76602561158638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x131cabac6626345b%3A0xa7f48b0cc097f78d!2sBalata%20dei%20Turchi!5e0!3m2!1sen!2sie!4v1652302326914!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>



</div>

{% endblock %}