{% extends "base.html" %}
{% block title%}Staff{% endblock title %}



{% block content%}
    <h1 class="container text-center mt-5">Staff Page</h1>
    <!--list of unapproved reviews awaiting approval===-->
    <div class=" container d-flex flex-column p-1">
        {% for review in reviews %}
            <div class="stafftextbox m-1">
                <div class="mt-1 " ><strong><em>"{{ review.text }}"</em></strong> </div>
                <div class="mt-1">Created by {{ review.user }} on {{ review.created_on }} .</div>
                <div class="text-center p-1 my-1 staffbutton"><a href="{% url 'home:approve' review.id %}">Approve Review</a></div>
            </div>

        {% empty %}
            <div>
                <h1 class="container text-center">No Reviews currently unapproved</h1>
            </div>
        {% endfor %}
    </div>
{% endblock%}
