{% extends 'base.html' %}
{% block title%}MyAccount{% endblock title %}

{% block content %}
<div class="container mt-5 bookingtable" >
  <div class="col-sm-12  offset-md-2 col-md-8  offset-lg-3 col-lg-6 p-1">
    <div class="row flex-column">
        <div>
            <h2 class="text-center" style="color:#a1661a">Welcome!</h2>
            <H2 class="text-center" style="color:#a1661a"> Your Bookings.</H2>
        </div>
        <table class="table koulenfont dark">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Room</th>
              <th scope="col">Check-In</th>
              <th scope="col">Check-Out</th>
              <th scope="col">Extend</th>
              <th scope="col">Cancel</th>
            </tr>
          </thead>
          {% for booking in mybookings %}

          <tbody >
            <tr>
              <th scope="row">{{ booking.user }}</th>
              <td>{{ booking.room_number }}</td>
              <td>{{ booking.check_in }}</td>
              <td>{{ booking.check_out }}</td>
              <td> <span><a href="{% url 'myaccount:extend' booking.id %}" aria-label="extend your booking link"><u class="dark">Extend</u></a></span></td>
              <td> <span><a href="{% url 'myaccount:cancel' booking.id %}" aria-label="cancel a booking link"><u class="dark">Cancel</u></a></span></td>
            </tr>
          {% empty %}
            <div>
                <h3 class="text-center">You currently have no bookings</h3>
            </div>
          {% endfor%}  
          </tbody>
        </table>
    </div>
    
    
    
        
  </div>
        <h4 style="color:#a1661a" class="text-center">User:    {{user.username}}</h4>
        <h4 style="color:#a1661a" class="text-center mb-1">User Email:    {{ user.email }}</h4>
        <p class="mb-2"><a href="{% url 'account_change_password' %}" aria-label="change your password"><u class="koulenfont dark">change password</u></a></p>
    </div> 
</div>

{% endblock%}
