/* html{
    height:100%;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Playfair+Display&display=swap');


* {
    font-family: 'Playfair Display', serif;
    padding:0;
    border:none;
    margin:0;
}

body {
    background: url('/media/backgrd-dark.png') no-repeat center center fixed;
    background-size: cover;
    
   
}

.roomcard {
    background-color: darksalmon;
    margin:15px;
    max-width:25%;
}

.hotel_img {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
   
}

.book-btn {
    background-color: #21c7f3;
}

.hotel_img a {
    background-color: #21c7f3;
}

.roompic {
    margin:auto;
}

.title_colour {
    color:white;
}

.roomtype {
    color:white;
    background-color: rgba(0,0,0,.3);
    
}

.check {
    position:relative;
    top:-135px;

}

.check1 {
    position:relative;
    top:-250px;
    width:50%;
    margin:auto

}

.check2 {
    position:relative;
    top:-250px;
    width:50%;
    margin: auto;

}

.navbg {
    background-color:#21c7f3;
    color:black;
}

.buttonsty {
    background-color:#21c7f3;
    margin-top: 5px;
    border:2px solid black;
    padding:2px;
    border-radius:10%;
}

.cus-nav-p {
    padding: 0.5rem 1rem;
}

.hotel-title {
    width:35%;
    background-color: transparent;
    color:white;
    margin:auto;
    margin-top:10px;
    padding:10px;
    font-size:2rem
   
}

.paratext {
    background-color: transparent;
    color:white;
    margin:auto;
    margin-top:5px;
    padding:10px;
}
/* styles for embedded map */
.map-responsive{
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#caro {
    background-color: beige;
    min-height:240px;
}

.step-links {
    font-size:0.8rem;
}

/*  styles for booking list table*/

.bookingtable {
    font-size: calc(0.3rem *1.8);
}

#soclinks  p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/*----media queries-------------------*/  

@media screen and (min-width:375px) {
    .step-links {
        font-size:1rem;
    }
    
}

@media screen and (min-width:425px) {
    .bookingtable {
        font-size: calc(0.3rem *2.4);
    }


#caro {
    min-height:180px ;
    }
}

.socicon {
    margin-top:5px;
}


@media screen and (min-width:768px) {
.step-links {
    font-size:1.5rem;
    }


.bookingtable {
    font-size: calc(0.3rem *3);
}

}
   

@media screen and (min-height:920px) {

 #pagends {
    position: fixed;
    padding: 10px 10px 0px 10px;
    display:block;
    bottom: 0;
    left:0;
    width: 100%; 
    /* Height of the footer*/ 
    max-height: 50px;
    
}  

}
@media screen and (min-width:1024px) {
    .bookingtable {
        font-size: calc(0.3rem *3.2);
    }
    
}