/* html{
    height:100%;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* .input {
    font-family: 'Koulen', cursive !important;
    color: black !important;
    filter:brightness(120%);
} */

* {
    font-family: 'Playfair Display', serif;
    padding:0;
    border:none;
    margin:0;
}

body {
    background: url('https://res.cloudinary.com/dpudxnll7/image/upload/v1652870093/media/backgrd-80-60dark_qmkfig.jpg') no-repeat center center fixed;
    background-size: cover;
    display:flex;
    flex-direction: column;
    min-height:100vh;
    
   
}

.dropdown-menu {
    background-color:transparent;
}

.dropdown-divider {
    border:1px solid rgba(0,0,0,0.15);
}

a {
    color:black !important;
}

.cusp {
    padding:5px;
}


.barsty {
    color:black;
    background-color: #df9e3e;
    border:5px solid burlywood;
    border-style:outset;
    filter: brightness(115%) !important;
}

.navbar-toggler {
    border:1px solid black!important;
}

.koulenfont {
    font-family: 'Koulen', cursive !important;
}

.koulenfont * {
    font-family: 'Koulen', cursive !important;
}

.roomcard {
    background-color: darksalmon;
    margin:15px;
    max-width:25%;
}

.hotel_img {
    position: relative;
    /* margin-bottom: 10px; */
    overflow: hidden;
    
   
}

.blacktext {
    color: black !important;
}

.socicon {
    color:burlywood;
    font-size: 2rem;
}

.socicon-label {
    font-size:2rem;
}

.hotel_img img {
    border-radius: 6%;
    border:1px solid black;
}

.book-btn {
    background-color: #df9e3e;
    border:1px solid black;
    padding:2px;
    border-radius:10%;
}

.hotel_img a {
    background-color: #df9e3e;
}

.roompic {
    margin:auto;
}

.title_colour {
    color:white;
}

.roomtype {
    color:white;
    background-color: rgba(0,0,0,.3);
    
}

.check {
    position:relative;
    top:-135px;

}

.check1 {
    position:relative;
    top:-250px;
    width:50%;
    margin:auto

}

.check2 {
    position:relative;
    top:-250px;
    width:50%;
    margin: auto;

}
.flash-color {
    color:#eb420c
}

.customfontsize1 {
    font-size:1.7rem !important;
}

.customfontsize2 {
    font-size:1.4rem !important;
}


.navbg {
    background-color:#21c7f3;
    color:black;
}

.buttonsty {
    /* background-color:#21c7f3; */
    background-color:#df9e3e;
    margin-top: 5px;
    border:2px solid black;
    padding:2px;
    border-radius:10%;
}

.cus-nav-p {
    padding: 0.5rem 1rem;
}

.hotel-title {
    /* width:35%; */
    /* background-color: rgba(0,0,0,0.3);*/
    color:black;
    margin:auto;
    margin-top:10px;
    padding:10px;
    font-size:2rem
   
}

.home-review-panel{
    color:black;
    font-size:1.1rem;
}


.dark {
    /* background-color: rgba(0,0,0,0.1);  */
    color:burlywood !important; 
    filter: brightness(115%) !important;
}

.darkanchor {
    color:burlywood !important; 
    filter:brightness(115%);
}

.darker {
    background-color: rgba(0,0,0,0.1);  
    color:burlywood; 
    filter:brightness(115%);
}

.bookingtable {
    /* background:white; */
    color:#a1661a;
    border:5px solid burlywood;
    border-style:inset;
    /* background-color: beige; */
    background-color:#3e261d;
    font-size: calc(0.3rem *2);
}

.paratext {
    margin:auto;
    margin-top:5px;
    padding:10px;
}
/* styles for embedded map */
.map-responsive{
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#caro {
    background-color: #df9e3e;
    min-height:400px;
    border:5px solid burlywood;
    border-style: inset;
}

.carousel-item {
    transition-duration: 1.2s 1.2s !important;
}

.step-links {
    font-size:0.8rem;
}

.review-display {
    border-style:inset;
    /* background-color: beige; */
    background-color:#3e261d;
    border:5px solid burlywood;
}

.form-wrapper textarea {
    border-style:inset;
    background-color: beige;
    border:5px solid burlywood;
    padding:5px;
    margin:5px;

}

#soclinks p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family:'Koulen', cursive !important;
}


.liform p {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.smalltext {
    font-size:smaller!important;
}

#contact-form input {
    background-color: beige;
}

#contact-form textarea {
    background-color: beige;
}

.regform-fontsize {
    font-size: 0.7rem;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  .foot {
    /* position:absolute; */
    /* bottom:0;
    left:0;
    right:0; */
    z-index:1100;
    margin-top:auto;
    background-color:#b97b20;
    color:black;
    border:4px solid burlywood;
    border-style:outset;
    filter: brightness(115%) !important;

  }

  .footspans {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .stafftextbox {
      background-color: #a3c1d9;
      color:black;
  }

  .staffbutton{
    width:140px;
    margin:auto;
    background-color:#df9e3e;
    margin-top: 5px;
    border:2px solid black;
    padding:2px;
    border-radius:10%;

  }

  .availform {
      display:flex;
      flex-direction: column;
      align-items: flex-end;
      
  }

  .extenddatebox {
      color:black;
      font-size: medium;
      font-family: 'Koulen', cursive !important;
  }

/*----media queries-------------------*/   
@media screen and (min-width:320px){
    .form-wrapper textarea {
        width:290px;
    }
}
@media screen and (min-width:375px) {
    .step-links {
        font-size:1rem;
    }

    #caro {
        min-height:350px;
    }

    
    
}

@media screen and (min-width:425px) {
    .bookingtable {
        font-size: calc(0.3rem *2.4);
    }


#caro {
    min-height:300px;
    }
}

.socicon {
    margin-top:5px;
}

.regform-fontsize {
    font-size: 0.9rem;
}


@media screen and (min-width:768px) {
.step-links {
    font-size:1.5rem;
    }


.bookingtable {
    font-size: calc(0.3rem *3);
}

.smalltext {
    font-size:medium!important;
}

#caro {
    min-height:190px;
}

.cusp {
    padding:0;
}

}


   

@media screen and (min-height:920px) {

 #pagends {
    position: fixed;
    padding: 10px 10px 0px 10px;
    display:block;
    bottom: 0;
    left:0;
    width: 100%; 
    /* Height of the footer*/ 
    max-height: 50px;
    
}  

}
@media screen and (min-width:1024px) {
    .bookingtable {
        font-size: calc(0.3rem *3.8);
    }

    .home-review-panel {
        font-size:1.4rem;
    }

    .topmarlg {
        margin-top:7% !important;
    }

    .regform-fontsize {
        font-size: 1rem;
    }

    .dropdown-menu{
        background-color:burlywood;
        top:50%;
    }

    .footspans {
        flex-direction: row;
        padding:5px;
    }
    
}