/* html{
    height:100%;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Playfair+Display&display=swap');


* {
    font-family: 'Playfair Display', serif;
    padding:0;
    border:none;
    margin:0;
}

body {
    background: url('/media/backgrd-dark.png') no-repeat center center fixed;
    background-size: cover;
    
   
}

.roomcard {
    background-color: darksalmon;
    margin:15px;
    max-width:25%;
}

.hotel_img {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
   
}

.hotel_img a {
    background-color: #21c7f3;
}

.roompic {
    margin:auto;
}

.title_colour {
    color:white;
}

.roomtype {
    color:white;
    background-color: rgba(0,0,0,.3);
    
}

.check {
    position:relative;
    top:-135px;

}

.check1 {
    position:relative;
    top:-250px;
    width:50%;
    margin:auto

}

.check2 {
    position:relative;
    top:-250px;
    width:50%;
    margin: auto;

}

.navbg {
    background-color:#21c7f3;
    color:black;
}

.cus-nav-p {
    padding: 0.5rem 1rem;
}

.hotel-title {
    width:35%;
    background-color: transparent;
    color:white;
    margin:auto;
    margin-top:10px;
    padding:10px;
    font-size:2rem
   
}

.paratext {
    background-color: transparent;
    color:white;
    margin:auto;
    margin-top:5px;
    padding:10px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* #foot {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    left:0;
    width: 100%;
    /* Height of the footer*/ 
    max-height: 60px;
    background: rgb(214, 13, 164);
} */