{% extends "base.html" %}

{% block content %}
    <div class="container d-flex flex-column align-items-center" style="color:white;">
        <h1 class="text-center">Check Availability for a {{type}} Room</h1>
        <h2>{{ desc.description }}</h2>
        <form  class="d-flex flex-column " style="color:white; font-size:medium;" action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">CHECK AVAILABILITY </button>
        </form>
</div>
{% endblock %}