{% extends "base.html" %}
{% block title%}Book Room{% endblock title %}
{% block content %}
<h1  class="hotel-title container text-center col-sm-12  offset-md-3 col-md-6 dark offset-lg-0 col-lg-4 topmarlg" >The Flower Hotel</h1>
<h3 class="hotel-title container text-center col-sm-12  offset-md-3 col-md-6  dark offset-lg-0 col-lg-4">BOOK YOUR ROOM</h3>
<div class="row justify-content-center no-gutters">
    <div class="container col-sm-12 mt-5 col-lg-4 offset-lg-4 p-4 dark" >
        <!--===form to make booking=======-->
        <form class="review-display" method="post">{% csrf_token %}
            {% if sale_flag %}
                <h4 class="text-center flash-color" >FLASH SALE! 10% OFF IF YOU BOOK NOW!</h4>
            {% endif%}
            <div class=" col-sm-12 col-md-8 offset-md-2 ">
                
                <div class="d-flex justify-content-between"><span>User:</span><span>{{ user  }}</span></div>
                <div class="d-flex justify-content-between"><span>Room Number:</span><span>{{ type.room_number}}</span></div>
                <div class="d-flex justify-content-between"><span>Check In:</span><span>{{ type.check_in}}</span></div>
                <div class="d-flex justify-content-between"><span>Check Out:</span><span>{{ type.check_out}}</span></div>
                <div class="text-center m-auto" >
                    <input  class="buttonsty" type="submit" value="Confirm" aria-label="buton to make booking">
                </div>



            </div>

        </form>

    </div>
</div>

   
    
{% endblock %} -->