{% extends "base.html" %}

{% block content %}


    <div class="container d-flex flex-column align-items-center" style="color:white;">
        <div style ="display:block">
            <p>
               
                {% if sale_flag %}
                    <h2 class="" style="color:red;">FLASH SALE! 10% off if you book now</h2>
                {% endif%}
            </p>

        </div>
        
        <h1>{{ user }} book room {{ type.room_number }}</h1>
        <h1> From {{ type.check_in}} to {{ type.check_out}}</h1>
        <form  class="d-flex flex-column " style="color:white; font-size:medium;" action="" method="POST">
            <!--{{ form.as_p }}-->
            {% csrf_token %}
            <button type="submit">BOOK Room</button>
        </form>
    </div>
{% endblock %}