{% extends "base.html" %}
{%load crispy_forms_tags %}

{% block content %}
    <div class="container d-flex flex-column align-items-center mt-lg-5 p-5 darker">
        <div class="text-center customfontsize1 mb-1 topmarlg">Check Availability for a {{type}} Room</div>
        <hr class="dark">
        <div class="text-center customfontsize2 mb-2">{{ desc.description }}</div>
        <form  class="d-flex flex-column mt-2" style="color:white; font-size:medium;" action="" method="POST">
            <div class="availform koulenfont">
                {{ form.as_p }}
                {% csrf_token %}
            </div>
            <button class="buttonsty" type="submit" aria-label="check availability for given dates">CHECK AVAILABILITY </button>
        </form>
</div>
{% endblock %}