{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Create Review{% endblock title %}

{% block content %}
    <section class="container col-sm-12 mt-2 text-center text-white offset-md-3 col-md-6  offset-lg-4 col-lg-4">
        <div class="dark">
            <h1>The Flower Hotel</h1>
            <h3> Please Leave your review below</h3>
            <h4><span>Saving as {{user.username }}</span></h4>
            </div>
        <!--======form for review entry=====-->
        <div class="form-wrapper">
            <form method="post" >
                {% csrf_token %}
                <label for="id_text" class="sr-only">review</label>
                {% for field in form %}
                    {{field}}
                {% endfor %}
                <div style="display:block; margin:auto;"><input class="book-btn" type="submit" value="Submit" aria-label="submit review button"></div>
            </form>
        </div>
       
    </section>
{% endblock %}