{% load static %}

<!DOCTYPE html>
<html lang="en" class="">
<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The Flower Hotel Beautiful holidays in the Mediterranean">
    <meta name="keywords" content="The Flower Hotel, holiday, quality, vacation, excellent, mediterranean">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block corecss %} 
<link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dpudxnll7/image/upload/v1652886940/media/flowerico_vvvnvr.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
<link rel="stylesheet" href="{% static 'css/style.css' %}">  
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block corejs %}
<script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
{% endblock %}
    
    <title>{% block title%}{% endblock title %}</title>
</head>
<body class="d-flex flex-column dark main-bg h-100">
    <div class="">
        <!-- 'https://res.cloudinary.com/dpudxnll7/image/upload/v1652783458/media/backgrd-dark_zwgxln.jpg' -->
    <!------------------------------------------navbar section---------------------------------------------------->
    <header>
        <div class="container barsty" style=" padding:0px !important;">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="{% url 'home:home' %}"><img class="brand"  src="https://res.cloudinary.com/dpudxnll7/image/upload/v1652783737/media/flowernewheader_eohbd5.png" alt="hotel logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown" style="padding:0.5rem 1rem;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" aria-label="dropdowm menu">
                            <a class="dropdown-item" href="{% url 'home:home' %}" aria-label="dropdowm menu home page">Home</a>
                            <a class="dropdown-item" href="{% url 'home:info' %}" aria-label="dropdowm menu informaion page">Information</a>
                            <a class="dropdown-item" href="{% url 'reviews:reviews' %}" aria-label="dropdowm menu review page">Reviews</a>
                            <a class="dropdown-item" href="{% url 'home:contact' %}" aria-label="dropdowm menu contact page">Contact</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item cus-nav-p">
                            <a class="nav-link" href="{% url 'account_logout' %}" aria-label="logout button">Logout</a>
                        </li>
                        <li class="nav-item cus-nav-p">
                            <a class="nav-link" href="{% url 'myaccount:myaccount' %} " aria-label="myaccount button">My Account</a>
                        </li>
                        <li class="cus-nav-p">
                            <p class="nav-link float-right blacktext" aria-label="logged in as ">Logged in as User: {{ request.user.username }}</p>
                        </li>
                    {% else %}
                        <li class="nav-link cus-nav-p">
                            <a class="nav-link" href="{% url 'account_login' %}" aria-label="log in button">Login</a>
                        </li>
                        <li class="nav-link cus-nav-p">
                            <a class="nav-link" href="{% url 'account_signup' %}" aria-label="sign up button">Register</a>
                        </li>
                    {% endif%}
                      
                  </ul>
                </div>
            </nav>  
        </div>            
    </header>

     <!------------------------------------------Messages section------------------------------------------------->
     <div class="container ">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show text-center" id="msg" role="alert">
                    {{ message | safe }}
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- ------------------------------social
    <div id="soclinks" class="mt-3 ">
        
            <div class="dark text-center mb-4 mb-lg-5">
                
                <p class="socicon-label"><span >Follow us:</span>     
                    <a href="https://facebook.com" target="_blank" aria-label="link to our facebook page (opens in new tab)"><i class="fab socicon fa-facebook-square ms-3"></i></a>
                    <a href="https://twitter.com" target="_blank" aria-label="link to our twitter page (opens in new tab)"><i class="fab socicon fa-twitter-square ms-3"></i></a>
                    <a  href="https://instagram.com" target="_blank" aria-label="link to our instagram page (opens in new tab)"><i class="fab socicon fa-instagram-square ms-3"></i></a>
                    <a href="https://youtube.com" target="_blank" aria-label="link to our youtube page (opens in new tab)"><i class="fab socicon fa-youtube-square ms-3"></i></p></a>
            
                </div> -->
            
   
        <!-------------------------------------Block section--------------------------------------->
    <main class="flex-shrink-0 main-bg" style="margin-top:5%;">
        {% block content %}
        <!-- Content Goes here -->
        
        {% endblock content %}


        <!--footer------------>

    <!-- <footer class="bg-light text-center text-dark fixed-bottom">
        <div class="container p-1">

            <!-- Section: Social media -->
            <!-- <div class="m-0">

                <!-- Linkedin -->
                <!-- <a class="m-3 footer-button" href="https://www.linkedin.com/in/fernanda-brito200585/" role="button" target="_blank" aria-label="linkedin link"><i class="fab fa-lg fa-linkedin-in"></i></a> -->

                <!-- Github -->
                <!-- <a class="m-3 footer-button" href="https://github.com/nandabritto" role="button" target="_blank" aria-label="github link"><i class="fab fa-lg fa-github"></i></a>
            </div>
        </div> -->

        <!-- Copyright -->
       
    <!-- </footer>  -->
    </main>
    

    
    <!-------------------------script for closing messages------------------>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
    <!---remore errors from error list-->
    <script>
        setTimeout(function() {
          let errors = document.getElementsByClassName('errorlist');
          while(errors.length > 0) {
            errors[0].parentNode.removeChild(errors[0]);
          }
        }, 3000);
      </script>
    </div>
    <footer class="foot">
        <div class=" footspans" >
            <span itemprop="telephone" ><i class="fas fa-phone mt-1 "></i><a href="tel:+35340229901" >+454 45 1234567</a></span>
            <span><i class="fas fa-envelope mt-1 "></i>   flowerhotel@email.com</span>
            <span> © 2022 Website for Education Purposes</span>
            
        </div>
        <!-- <div class="text-center p-1 small " >
            © 2022 R.Kennedy: Website for Education Purposes
        </div> -->
    </footer>
    
</body>
